@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif; 
}
@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
  }
}
html {
  font-size: 16px;
  margin:auto;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  background-color: #0a0a0a;
  color: #F4F4F4;
  max-width: 40em;
}
span.title {
  display:flex; 
  align-items:center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 596px) {
  span.title {
    justify-content: center;
}
}
@media screen and (min-width: 600px)  {
  .mobile-break { display: none; }
}
a {
  text-decoration: none;
}
a:link, a:visited {
  color: #FFCF00;
}
a:hover, a:active {
  color: red;
}
h1{
  display: inline;
  background-color: #FFCF00;
  color:black;
  max-width:12em;
  line-height:1.2em;
}
p,ol,ul,div,blockquote { 
  line-height: 1.5;
}
ul.posts li {
  margin-left: 1em;
  line-height:2em;
}
strong {
  font-family: sans-serif;
  font-weight: bold;
}
blockquote {
  margin-top: 0;
  border: 1px solid black;
  padding: 1em;
}
code, small {
  margin: 0.5em;
  padding: 4px;
  border-radius: 4px;
}
code {
  display:block;
  background-color: #333;
  font-family: monospace;
  font-style: normal;
  padding: 2em;
}
small {
  font-size: 1em;
  color: lightcoral;
}
small.em {
  background-color: lightcoral;
  color: white;
}
small.time {
  font-family: monospace;
  color: #666;
}
li {margin-left: 0.5em;}
