@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif; 
}
@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
  }
}

html {
  font-size: 16px;
}

html,body {
  padding-top: 1em;
  color: #181a1b;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  max-height: 33em;
  padding-bottom: 1em;
}
a {
  text-decoration: none;
  margin: 0 0.5em;
}
a:link, a:visited {
  color: blue;
}
a:hover, a:active {
  color: red;
}
h1 {
  margin-left: 2em;
}
p + h3 {
  margin-right: 2em;
}
p,ol,ul,div,blockquote { 
  line-height: 1.75;
  margin-left: 0.8em;
}
ul.posts li {
  margin-left: 1.2em;
}
strong {
  font-family: sans-serif;
  font-weight: bold;
}
blockquote {
  margin-top: 0;
  border: 1px solid black;
  padding: 1em;
}
code {
  font-family: monospace;
  font-style: normal;
  border: 1px solid black;
}
code, small {
  margin: 0.5em 0.5em;
  padding: 4px;
  border-radius: 4px;
}
small {
  font-family: serif, monospace;
  font-size: 0.7em;
  color: darkred;
}
small.em {
  background-color: darkred;
  color: white;
}
small.time {
  color: black;
  background-color: #ddd;
  letter-spacing: 0.2em;
}
li {margin-left: 0.5em;}